@import url(~slick-carousel/slick/slick-theme.css);
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,500,700,900");
.login-block {
  background: #F1F2B5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #135058, #F1F2B5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #135058, #F1F2B5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  float: left;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 50px 0; }

.banner-sec {
  background: url("../../assets/images-system/laptop.jpg") no-repeat left bottom;
  background-size: cover;
  min-height: 500px;
  border-radius: 0 10px 10px 0;
  padding: 0; }

.container-login {
  background: #fff;
  border-radius: 10px;
  box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1); }

.carousel-inner {
  border-radius: 0 10px 10px 0; }

.carousel-caption {
  text-align: left;
  left: 5%; }

.login-sec {
  padding: 50px 30px;
  position: relative;
  height: 500px; }
  .login-sec .copy-text {
    position: absolute;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center; }
    .login-sec .copy-text i, .login-sec .copy-text a {
      color: #135058; }
  .login-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #135058; }
    .login-sec h2:after {
      content: " ";
      width: 100px;
      height: 5px;
      background: #091a7a;
      display: block;
      margin-top: 20px;
      border-radius: 3px;
      margin-left: auto;
      margin-right: auto; }

.btn-login {
  background: #135058;
  color: #fff;
  font-weight: 600; }

.banner-text {
  width: 70%;
  position: absolute;
  bottom: 40px;
  padding-left: 20px; }
  .banner-text h2 {
    color: #fff;
    font-weight: 600; }
    .banner-text h2:after {
      content: " ";
      width: 100px;
      height: 5px;
      background: #FFF;
      display: block;
      margin-top: 20px;
      border-radius: 3px; }
  .banner-text p {
    color: #fff; }

@media screen and (max-width: 992px) {
  .banner-sec {
    display: none; }
  .login-sec {
    flex: 100%;
    max-width: 100%; } }

.register-form {
  height: 280px;
  overflow-y: auto; }

.vertical-hr {
  border: none;
  border-left: 1px solid #73848c;
  height: 20px;
  width: 2px; }

.best-course {
  width: 100%;
  background: white;
  min-height: 300px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75); }

.best-course__jumbotron {
  background: #1D2B64;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #F8CDDA, #1D2B64);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #F8CDDA, #1D2B64);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100% 80%;
  background-repeat: no-repeat;
  height: 470px; }

.best-course__image {
  width: 100%;
  height: 270px;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px; }

.best-course__content {
  margin-top: 15px;
  height: 270px;
  padding: 10px; }

@media screen and (max-width: 991px) {
  .best-course {
    min-height: 300px; }
  .best-course__image {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 260px; }
  .best-course__jumbotron {
    height: 490px; }
  .best-course__content {
    margin-bottom: 10px; }
    .best-course__content h2 {
      font-size: 2rem; } }

@media screen and (max-width: 768px) {
  .best-course__image {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 230px; }
  .best-course__jumbotron {
    height: 470px; }
  .best-course__content {
    margin-bottom: 10px; }
    .best-course__content h2 {
      font-size: 1.5rem; }
    .best-course__content p {
      font-size: 0.8rem; }
    .best-course__content h4 {
      font-size: 1rem; } }

@media screen and (max-width: 576px) {
  .best-course {
    width: 70%; }
  .best-course__image {
    height: 200px;
    width: 100%;
    padding: 5px; }
  .best-course__jumbotron {
    height: 660px; }
  .best-course__content {
    margin-top: 0px;
    margin-bottom: 10px; } }

.course-detail__jumbotron {
  background: #34e89e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f3443, #34e89e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 360px; }

.course-detail__card {
  background: white;
  width: 90%;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  margin: auto;
  height: auto !important;
  max-width: 354px; }

.course-detail__card--button {
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px; }

.course-detail__jumbotron--row {
  padding: 0 40px; }
  .course-detail__jumbotron--row .container {
    box-sizing: border-box; }

.course-detail__content-sumary {
  background: white;
  width: 90%;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  height: auto; }
  .course-detail__content-sumary div {
    box-sizing: border-box; }

.course-detail__instructor {
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 10px; }
  .course-detail__instructor img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: -2px 7px 102px -22px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 7px 102px -22px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 7px 102px -22px rgba(0, 0, 0, 0.75); }

@media screen and (max-width: 1061px) {
  .course-detail__jumbotron--row .container h3 {
    font-size: 2.5rem; }
  .course-detail__jumbotron--row .container p {
    font-size: 1rem; } }

@media screen and (max-width: 991px) {
  .course-detail__card {
    width: 70%; }
    .course-detail__card h2 {
      font-size: 2rem; }
  .course-detail__requirements {
    margin-top: 70px;
    width: 100%; }
  .course-detail__content-sumary {
    flex: 100%;
    max-width: 100%;
    margin: auto; } }

@media screen and (min-width: 766px) {
  .course-detail__jumbotron {
    height: 385px; } }

@media screen and (max-width: 765px) {
  .course-detail__requirements {
    margin-top: 370px;
    width: 100%; } }

@media screen and (max-width: 441px) {
  .course-detail__jumbotron {
    height: 450px; }
  .course-detail__card {
    width: 90%; }
    .course-detail__card h2 {
      font-size: 2rem; } }

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px; }

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47; }

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px; }

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7; }

/* General sidebar styles */
.bm-menu {
  background: #ED213A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #93291E, #ED213A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #93291E, #ED213A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 2.5em 1.5em 0;
  font-size: 1.15em; }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47; }

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em; }

/* Individual item */
.bm-item {
  display: inline-block; }

/* Styling of overlay */
.bm-overlay {
  background: white; }

.topic-section__topic-card {
  min-width: 165px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  background: white;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  flex: 25%;
  max-width: 25%;
  margin: auto;
  margin: 3px; }
  .topic-section__topic-card div {
    font-size: 1rem; }

.topic-section__row {
  display: flex;
  flex-wrap: wrap; }

.topic-section__container {
  margin: auto;
  width: 95%;
  display: none; }

@media screen and (max-width: 655px) {
  .topic-section__container {
    display: block; }
  .navbar-nav {
    display: none; } }

.sidenav {
  height: 100vw;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background: #f8f9fa;
  overflow: hidden;
  padding-top: 70px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75); }
  .sidenav a {
    text-align: left;
    padding: 10px 20px 10px;
    display: block;
    color: #251d1d;
    opacity: 0.8;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in-out; }
    .sidenav a:hover {
      background: #bce9ca;
      -webkit-box-shadow: -2px 7px 102px -22px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -2px 7px 102px -22px rgba(0, 0, 0, 0.75);
      box-shadow: -2px 7px 102px -22px rgba(0, 0, 0, 0.75); }

.sidenav-active {
  background: rgba(136, 159, 172, 0.747);
  color: white; }

.sidenav-info {
  width: 100%;
  height: 150px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 3px;
  background: #fdfdfd;
  display: flex; }

.sidenav-avatar {
  width: 100px;
  height: 100px;
  border: 1px solid #caa5a5;
  border-radius: 50%;
  -webkit-box-shadow: -2px 7px 102px -22px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 7px 102px -22px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 7px 102px -22px rgba(0, 0, 0, 0.75);
  margin: auto; }

.admin-header__dashboardtitle {
  margin-bottom: 0px;
  position: absolute;
  left: 70px; }

.admin-header__title {
  margin-bottom: 0px;
  margin: auto; }

.management {
  margin-left: 200px; }

.management-thead {
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .management-thead tr th {
    color: #ddeaf0; }

.section-card {
  width: 100%;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  margin: auto;
  margin-bottom: 10px; }
  .section-card:hover {
    -webkit-box-shadow: -1px 0px 46px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 46px -5px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 0px 46px -5px rgba(0, 0, 0, 0.75);
    cursor: pointer; }

.section-card__header {
  width: 100%;
  height: 40px;
  background: rgba(155, 171, 179, 0.664);
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis; }

.section-card__content {
  height: 50px; }

.section-card__footer {
  width: 100%;
  height: 40px;
  background: rgba(155, 171, 179, 0.1); }

.image-review__container {
  width: 300px;
  margin: auto; }

.section-card__description {
  width: 100%;
  height: 21px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis; }

.dropzone {
  width: 100%;
  height: auto;
  border: 3px dotted rgba(137, 216, 255, 0.9);
  background: rgba(137, 216, 255, 0.1); }

.instructor-jumbotron {
  height: 120px;
  background: #d53369;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #cbad6d, #d53369);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #cbad6d, #d53369);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75); }

.instructor_image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -86px;
  z-index: 5;
  -webkit-box-shadow: -1px 0px 46px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 46px -5px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 46px -5px rgba(0, 0, 0, 0.75); }
  .instructor_image img {
    max-width: 100%; }

.instructor_body {
  width: 100%;
  max-width: 300px;
  margin: auto;
  height: auto;
  padding-top: 108px;
  padding-bottom: 24px;
  border-radius: 6px;
  box-shadow: 0px 1px 10px rgba(29, 34, 47, 0.1);
  text-align: center;
  background: #ffe259;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ffa751, #ffe259);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #cbad6d, #fffffe);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.instructor {
  position: relative;
  top: -90px; }

.instructor-biography {
  width: 95%;
  height: auto;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75); }

.instructor-courses-section {
  background: linear-gradient(to bottom, #fffffe, #e3eece, #c3f5a7, #fffffe);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

@media screen and (max-width: 375px) {
  .instructor-biography {
    flex: 100%;
    max-width: 100%; }
  .instructor {
    position: relative;
    top: 0px;
    flex: 100%;
    max-width: 100%; } }

.user-course {
  margin-top: 20px;
  width: 80%;
  background: white;
  min-height: 200px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75); }

.user-course__image {
  width: 90%;
  height: 200px;
  padding: 15px;
  margin: auto; }

.user-course__content {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 210px;
  padding: 10px; }

@media screen and (max-width: 991px) {
  .user-course {
    min-height: 300px; }
  .user-course__image {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 260px; }
  .user-course__jumbotron {
    height: 490px; }
  .user-course__content {
    margin-bottom: 10px; }
    .user-course__content h2 {
      font-size: 2rem; } }

@media screen and (max-width: 768px) {
  .user-course__image {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 230px; }
  .user-course__jumbotron {
    height: 470px; }
  .user-course__content {
    margin-bottom: 10px; }
    .user-course__content h2 {
      font-size: 1.5rem; }
    .user-course__content p {
      font-size: 0.8rem; }
    .user-course__content h4 {
      font-size: 1rem; } }

@media screen and (max-width: 576px) {
  .user-course {
    width: 70%; }
  .user-course__image {
    height: 200px;
    width: 100%;
    padding: 5px; }
  .user-course__jumbotron {
    height: 660px; }
  .user-course__content {
    margin-top: 0px;
    margin-bottom: 10px; } }

.list-lesson {
  width: 80%;
  margin: auto;
  margin-bottom: 30px; }

.studypage__jumbotron {
  height: 200px;
  background: #3d2b47;
  display: flex; }

.studypage__container {
  width: 95%;
  margin: auto; }

.studypage__row {
  display: flex;
  flex-wrap: wrap; }

.studypage__jumbotron--image {
  flex: 30%;
  max-width: 30%;
  height: 178px;
  -webkit-box-shadow: 1px -1px 20px 0px #e4e9f5;
  -moz-box-shadow: 1px -1px 20px 0px #e4e9f5;
  box-shadow: 1px -1px 20px 0px #e4e9f5; }

.studypage__jumbotron--title {
  flex: 70%;
  max-width: 70%; }

.studypage-navbar {
  height: 50px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
  line-height: 50px;
  vertical-align: middle; }

.studypage-navbar__item {
  font-weight: 500; }

.studypage-content {
  height: 90vh;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
  overflow: auto;
  padding: 10px; }

/* Steps */
.stepper {
  padding: 10px;
  margin: auto;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  min-height: 100vh; }

.step {
  position: relative;
  min-height: 1em;
  color: gray; }
  .step :hover {
    cursor: pointer; }
  .step + .step {
    margin-top: 1.5em; }
  .step > div:first-child {
    position: static;
    height: 0; }
  .step > div:not(:first-child) {
    margin-left: 1.5em;
    padding-left: 1em; }
  .step.step-active {
    color: #4285f4; }
    .step.step-active .circle {
      background-color: #4285f4; }

/* Circle */
.circle {
  background: gray;
  position: relative;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 0 3px #fff; }
  .circle:after {
    content: " ";
    position: absolute;
    display: block;
    top: 1px;
    right: 50%;
    bottom: 1px;
    left: 50%;
    height: 100%;
    width: 1px;
    transform: scale(1, 2);
    transform-origin: 50% -100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -1; }

/* Vertical Line */
.step:last-child .circle:after {
  display: none; }

/* Stepper Titles */
.title {
  line-height: 1.5em;
  font-weight: bold; }

.caption {
  font-size: 0.8em; }

.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 200px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

.modal-content {
  position: relative;
  background-color: #fefefe60;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  height: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; }

.spinningSgv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.modal-header {
  padding: 2px 16px;
  color: white; }

.modal-body {
  padding: 2px 16px; }

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white; }

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

.jumbotron__background {
  background-image: url("../../assets/images-system/back.jpg");
  background-size: cover; }

.jumbotron__position {
  position: relative;
  top: -20px; }

.nav__gradient {
  background: #FFFDE4; }

.high__zindex {
  z-index: 1010; }

.nav__shadow {
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75); }

.button {
  color: #FFFDE4;
  background-color: #005AA7; }
  .button:focus {
    color: #FFFDE4; }

.jumbotron__input {
  display: inline-block;
  width: 60%; }

a {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }
  a:hover, a:visited, a:active, a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  color: #384158;
  margin-bottom: 0; }

.section_title_container {
  max-width: 600px;
  margin: 0 auto; }

.section_title {
  line-height: 0.75; }

.section_subtitle {
  line-height: 1.85;
  margin-top: 22px; }

.section_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.courses {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto; }

.courses_row {
  margin-top: 25px; }

.course_col {
  margin-bottom: 15px; }

.course {
  max-width: 300px;
  height: 440px;
  width: 100%;
  border-radius: 6px;
  background: #FFFFFF;
  box-shadow: 0px 1px 10px rgba(29, 34, 47, 0.2);
  margin: auto; }
  .course:hover {
    cursor: pointer; }

.course_image_frame {
  width: 100%;
  height: 150px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden; }
  .course_image_frame img {
    max-width: 100%;
    transition: transform .5s; }
    .course_image_frame img:hover {
      transform: scale(1.2); }

.course_image {
  width: 100%;
  height: 100%; }

.course_body {
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 23px; }

.course_title {
  white-space: nowrap;
  height: 30px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; }
  .course_title a {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: #384158;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease; }
    .course_title a:hover {
      color: #14bdee; }

.course_teacher {
  font-size: 15px;
  font-weight: 400;
  color: #384158;
  margin-top: 6px;
  height: 40px; }

.course_text {
  margin-top: 13px;
  height: 100px;
  overflow: hidden; }

.course_footer {
  padding-left: 30px;
  padding-right: 30px; }

.course_footer_content {
  width: 100%;
  border-top: solid 1px #e5e5e5;
  padding-top: 9px;
  padding-bottom: 11px; }

.course_info {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #55555a; }
  .course_info:first-child {
    margin-right: 18px; }
  .course_info i {
    color: #ffc80a; }

.course_price {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 700;
  color: #14bdee; }
  .course_price span {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
    color: #b5b8be;
    margin-right: 10px; }

.courses_button {
  width: 210px;
  height: 46px;
  border-radius: 3px;
  background: #14bdee;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  box-shadow: 0px 5px 40px rgba(29, 34, 47, 0.15); }
  .courses_button:hover {
    box-shadow: 0px 5px 40px rgba(29, 34, 47, 0.45); }
  .courses_button a {
    display: block;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 46px;
    color: #FFFFFF; }

.course_slider {
  width: 90%;
  box-sizing: border-box; }

.btn-circle {
  background-color: #FFFFFF;
  color: #14bdee;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  -webkit-box-shadow: 1px 3px 13px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 3px 13px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 2px 13px -1px rgba(0, 0, 0, 0.75); }

.footer {
  background: #f8f9fa;
  box-shadow: -1px -1px 4px 0px rgba(0, 0, 0, 0.75); }

.jumbotron_middle {
  background-image: url("../../assets/images-system/surfman.jpg");
  background-size: cover; }

.features {
  width: 100%;
  background: #FFFFFF;
  padding-top: 93px;
  padding-bottom: 103px; }

.feature {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 28px;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(255, 255, 255, 0.7); }
  .feature:hover {
    box-shadow: 0px 5px 40px rgba(29, 34, 47, 0.15);
    cursor: pointer; }

.features_row {
  margin-top: 55px; }

.feature_icon {
  height: 55px; }
  .feature_icon img {
    max-width: 100%; }

.feature_title {
  position: relative;
  font-size: 20px;
  margin-top: 23px; }

.feature_text {
  height: 75px; }

.trans_200 {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease; }

.trans_300 {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; }

.trans_400 {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease; }

.trans_500 {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }

.team {
  width: 100%; }

.team_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.team_row {
  margin-top: 30px; }

.team_col {
  margin-bottom: 40px; }

.team_item {
  width: 100%; }

.team_image {
  width: 180px;
  height: 160px;
  border-radius: 6px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -86px;
  z-index: 5; }
  .team_image img {
    max-width: 100%; }

.team_body {
  width: 100%;
  max-width: 300px;
  margin: auto;
  height: 400px;
  padding-top: 108px;
  padding-bottom: 24px;
  background: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0px 1px 10px rgba(29, 34, 47, 0.1);
  text-align: center;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease; }

.team_item:hover .team_body {
  box-shadow: 0px 5px 40px rgba(29, 34, 47, 0.15); }

.team_title a {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 700;
  color: #384158;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease; }
  .team_title a:hover {
    color: #14bdee; }

.team_subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #76777a;
  margin-top: 6px; }

.social_list {
  margin-top: 16px; }
  .social_list ul li {
    display: inline-block; }
  .social_list li {
    padding: 10px; }
  .social_list ul li a i {
    font-size: 18px;
    color: #76777a;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease; }
  .social_list ul li:hover a i {
    color: #14bdee; }

.team_col .team_item {
  padding-left: 6px;
  padding-right: 6px; }

.team_col:first-child .team_item {
  padding-left: 0;
  padding-right: 6px; }

.team_col:nth-child(4n) .team_item {
  padding-left: 6px;
  padding-right: 0; }

.social-icon {
  width: 40px; }

.team-icon-list {
  margin: auto; }

.jumbotron__searchBar {
  width: 70%; }

.instructorSection__background {
  background-image: url("../../assets/images-system/building.jpg");
  background-size: cover; }

.instructorSection--category__background {
  background-image: url("../../assets/images-system/road.jpg");
  background-size: cover; }

.jumbotron__animation-dna {
  width: 200px;
  display: none; }

@media screen and (max-width: 1370px) {
  .course {
    height: 450px; } }

@media screen and (min-width: 1370px) {
  .jumbotron__animation-dna {
    display: block !important; }
  .jumbotron__animation-planet {
    display: none !important; } }

@media screen and (max-width: 992px) {
  .slider-btn-arrow {
    display: none !important; } }

.bestseller-background {
  background-image: url("../../assets/images-system/backgound1.jpg");
  background-size: contain; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
    .dropdown-content a:hover {
      background-color: #f1f1f1; }

.dropdown:hover .dropdown-content {
  display: block; }

.border-box {
  box-sizing: border-box; }

.navbar-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000; }

.page-content {
  margin-top: 75px; }
